@import url("https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700");
html, body {
    max-width: 100%;
    overflow-x: hidden;
}


/*-----------------------------------index------------------------*/

.bg-image {
  width: auto;
  height: 500px;
  background: url("https://cdn.pixabay.com/photo/2014/05/02/21/49/home-office-336373_960_720.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.menu-item {
  float: left;
  width: 100%;
  padding-top: 15px;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
}
.menu-item span {
  font-weight: 600;
  font-family: Exo;
}
.menu-item a {
  color: #000;
}
.menu-item p {
  font-weight: 300;
  font-family: Roboto;
}

.nav-text {
  font-family: robot;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 1px;
}
.hero-con {
  padding-top: 8%;
}

.hero-text {
  
  color: rgb(248, 249, 250);
  text-shadow: 2px 3px #333;
  letter-spacing: 2px;
  font-family: exo;
  text-align: center;
  font-size: 2rem;
  
}
.statement-text{
    padding: 20px 20px 20px 20px;
    text-align: center;
}

/*----------------------------------------------------- Box Stylings ------------------------------------------------*/

.statement-card{
    background-color: red;
    padding: 0px -20px 0px -20px;
    height: 100%;
    width: 100%;
}

.home-card {
  background-color: #e9c46a;
  height: 100px;
  width: 100%;
}
.wiki-card {
  background-color: #f4a261;
  height: 100px;
  width: 100%;
}
.app-card {
  background-color: #b27c3d;
  height: 100px;
  width: 100%;
}
.wikileaks-card {
  background-color: #e76f51;
  height: 100px;
  width: 100%;
}
.btn:hover {
  color: white;
}
/*---------------------------------------------features page---------------------------*/

.features-pic{
    width: 100%;
  height: 550px;
  background: url("https://bit.ly/2rlzaXi");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
/*------------------------------------------------contact page-----------------------------------*/
.form-pic {
  padding: 120px 0px 120px 0px;
  width: 100%;
  background: url("https://images.pexels.com/photos/955081/pexels-photo-955081.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}

.formcontain{
    padding: 25px 25px 25px 25px;
    border-radius: 25px;
  border: 1px solid rgb(248, 249, 250);
  letter-spacing: 2px;
  font-family: exo;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
}
.form-head{
    color: white;
}
.form1{
    text-align: left;
    color: white;
}

/*------------------------------------------------ footer styling -------------------------------*/

.footerstyle {
  padding: 15px 0px 5px 0px;
  background-color: rgb(30, 30, 30);
  color: white;
  text-align: center;
  max-width: 100%;
  padding-right: -45px;
  font-family: roboto;
  font-weight: 400;
  letter-spacing: 1px;
}

/*------------------------------------------------ media queries -------------------------------- */

@media (max-width: 420px) {
  .herotext {
    padding: 12px 12px 12px 12px;
    font-size: 14px;
    margin: 0 auto;
    max-width: 100%;
  }
  .herocon {
    padding-top: 15%;
  }
  .featurespic {
    height: 300px;
  }
  .formcontain{
    padding: 25px 25px 25px 25px;
  letter-spacing: 1px;
  font-family: exo;
  text-align: center;
  background-color: rgba(243, 111, 111, 0);
  border: 0px solid rgb(248, 249, 250);
}
.form-head{
    color: black;
    text-align: left;
}
.form1{
    text-align: left;
    color: black;
    font-weight: 500;
}
}
